# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-authors-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

艾尔达*    @FarseerVeraenthis
Chaos*      @Mad-Spy
帝国*   @alphalas
泰伦*   @GenWilhelm

# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# 艾尔达
*Drukhari.cat              @WindstormSCR
*丑角剧团.cat            @WindstormSCR @FarseerVeraenthis
*死神军.cat                @WindstormSCR @FarseerVeraenthis

# 帝国
*Adeptus\ Custodes.cat            @WindstormSCR
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @DrTobogganMD
*Blood\ Angels.cat                @alphalas
*Dark\ Angels.cat                 @Thairne
*Deathwatch.cat                   @WindstormSCR
*Elucidian\ Starstriders.cat      @GenWilhelm
*FW\ Adeptus\ Astartes.cat        @WindstormSCR
*FW\ Death\ Korps\ of\ Krieg.cat  @CrusherJoe @alphalas
*Grey\ Knights.cat                @tekton
*Legion\ of\ the\ Damned.cat      @alphalas
*Questor\ Imperialis.cat          @DrTobogganMD
# 星际战士 require '帝国' prefix/full name to prevent confusion with Chaos 星际战士
帝国\ -\ Space\ Marines.cat   @acebaur
*Space\ Wolves.cat                @CrusherJoe

# Other 
Fallen.cat         @Mad-Spy
死灵.cat        @DrTobogganMD
Orks.cat           @tag8833
T?au\ Empire.cat   @amis92
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
